.fl {
  float: left;
}
.fr {
  float: right;
}


/* margin-top */
.mt-0 {
  margin-top: 0 !important;
}
.mt-5 {
  margin-top: 5 !important;
}
.mt-8 {
  margin-top: 8 !important;
}
.mt-10 {
  margin-top: 10 !important;
}
.mt-15 {
  margin-top: 15 !important;
}